<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IP Geolocation</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
</head>
<body>
    <header>
    <div class="wrapper" margin-top="0px">
<ul class="nav-area">
<li><a href="/">HOME</a></li>
<li><a href="/about">ABOUT US</a></li>
</ul>
</div>
<div class="about">
<br>
<br>
<br>
<br>
<br>
            <img src="https://i.postimg.cc/5yc9fgMJ/taws.png" alt="" class="center">
            <p align="center" class="aboutus">
            <br>
            <strong>Joshua Taway<br></strong>
            Bachelor of Science in Computer Engineering<br>
            Data Science<br>
            Technological Institute of the Philippines - Quezon City <br>
            <a class="u-email" href="mailto:qjataway@tip.edu.ph" style="color:#87CEEB">qjataway@tip.edu.ph</a>
            </p>
            <br>
            <br>
            <br>
            <img src="https://i.postimg.cc/kM0Z1m96/lamzon.png" alt="" class="center">
            <p align="center" class="aboutus">
            <br>
            <strong>John David Lamzon<br></strong>
            Bachelor of Science in Computer Engineering<br>
            Systems Administrator<br>
            Technological Institute of the Philippines - Quezon City <br>
            <a class="u-email" href="mailto:qjdalamzon@tip.edu.ph" style="color:#87CEEB">qjdalamzon@tip.edu.ph</a>
            </p>
            <br>
            <br>
            <br>
            <img src="https://i.postimg.cc/0QnKQhcv/md.png" alt="" class="center">
            <p align="center" class="aboutus">
            <br>
            <strong>Mark Dave Blancaflor<br></strong>
            Bachelor of Science in Computer Engineering<br>
            Systems Administrator<br>
            Technological Institute of the Philippines - Quezon City <br>
            <a class="u-email" href="mailto:qqmdbblancaflor@tip.edu.ph" style="color:#87CEEB">qmdbblancaflor@tip.edu.ph</a>
            </p>
            <br>
            <br>
    </header>

</body>
</html>
