<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IP Geolocation</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wuzhi.css') }}">
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
</head>
<style>
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

input[type=text]:focus {
  background-color: lightblue;
}
input[type=submit] {
	border: 1px solid #black;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #Black;
	background: none;
}
</style>
<body>
    <header>
    <div class="wrapper">
        <ul class="nav-area">
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT US</a></li>
        </ul>
      <div class="wrapper">
      <div class="logo-login">
          <img src="https://i.postimg.cc/02kf6yVT/pngegg-4.png" width="400" height="290" style="margin-left:240px" alt="">
      </div>
<div class="welcome-text">
        <h1>
IP ADDRESS<br><span style='color:#87CEEB'>GEOLOCATION</span></h1>

<div class="popup" id="popup-1">
    <div class="content">
        <div class="close-btn" onclick="togglePopup()">&times;</div>
            <p> <b>IP Address:</b> {{ ip_html }} </p>
            <p> <b>Version:</b> {{ version_html }} </p>
            <p> <b>City:</b> {{ city_html }} </p>
            <p> <b>Region:</b> {{ region_html }} </p>
            <p> <b>Country:</b> {{ country_html }} </p>
            <p> <b>ISP:</b> {{ isp_html }} </p>
            <p> <b>ASN:</b> {{ asn_html }} </p>
    </div>
</div>
<div class="popup2" id="popup-2">
    <div class="content">
        <div class="close-btn" onclick="togglePopup2()">&times;</div>
<div class="content" style="padding-top:50px">
        <form name="passdata" action="." method="post">
        <label style='color:white'><p> <b>Enter the IP Address:</b> </p>
            <input type="text" name="ipadd">
        </form>
        <button onclick="togglePopup3()">FIND IP GEOLOCATION</button>
    </div>
</div>
</div>
<button onclick="togglePopup()">GET MY IP GEOLOCATION</button><br>
<button onclick="togglePopup2()">FIND ANY IP GEOLOCATIONS</button>
</body>
</html>
